:root {
	--parvus-transition-duration: 300ms;
	--parvus-transition-timing-function: cubic-bezier(0.4, 0, 0.22, 1);
	--parvus-overlay-color: rgba(0, 0, 0, 0.9);
	--parvus-overlay-text: var(--color-white);
	--parvus-button-color: transparent;
	--parvus-button-text: var(--color-alt);
	--parvus-button-hover-color: transparent;
	--parvus-button-hover-text: var(--color-white);
	--parvus-loader-background-color: transparent;
	--parvus-loader-color: var(--color-body);
}

/**
* Parvus trigger.
*/
.parvus-zoom {
	position: relative;
	display: block;
}

.parvus-zoom__indicator {
	display: none;
}

.parvus-zoom img {
	display: block;
}

/**
* Parvus.
*/
.parvus {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1337;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	contain: strict;
	font: normal normal 400 1.125rem/1.7 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	line-height: 1.667;
}

.parvus *,
.parvus *::before,
.parvus *::after {
	box-sizing: border-box;
}

.parvus[aria-hidden="true"] {
	display: none;
}

.parvus__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--parvus-overlay-color);
}

.parvus__slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parvus__slider[aria-hidden=true] {
	display: none;
}

@media screen and (prefers-reduced-motion: no-preference) {

	.parvus__slider--animate:not(.parvus__slider--is-dragging) {
		transition: transform var(--parvus-transition-duration) var(--parvus-transition-timing-function);
	}
}

.parvus__slider--is-draggable {
	cursor: -webkit-grab;
	cursor: grab;
}

.parvus__slider--is-dragging {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.parvus__slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-top: var(--spacing-xxxl);
	padding-right: var(--spacing-xxxl);
	padding-bottom: var(--spacing-xxxl);
	padding-left: var(--spacing-xxxl);
}

@media screen and (prefers-reduced-motion: no-preference) {

	.parvus__slide {
		transition: visibility var(--parvus-transition-duration) var(--parvus-transition-timing-function);
	}
}

.parvus__slide:not(.parvus__slide--is-active) {
	visibility: hidden;
}

.parvus__slide .parvus__caption {
	padding-top: 0.5rem;
	color: var(--parvus-overlay-text);
	text-align: center;
	will-change: transform, opacity;
}

@media screen and (prefers-reduced-motion: no-preference) {

	.parvus__slide .parvus__caption {
		transition: transform var(--parvus-transition-duration) var(--parvus-transition-timing-function), opacity var(--parvus-transition-duration) var(--parvus-transition-timing-function);
	}
}

.parvus__slide img {
	display: block;
	width: auto;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	transform-origin: left top;
}

.parvus__loader {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	width: 6.25rem;
	height: 6.25rem;
	transform: translate(-50%, -50%) !important;
}

.parvus__loader::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	border: 0.25rem solid var(--parvus-loader-background-color);
	border-top-color: var(--parvus-loader-color);
	border-radius: 100%;
	-webkit-animation: spin 1s infinite;
	animation: spin 1s infinite;
	content: "";
}

.parvus__toolbar {
	position: absolute;
	top: calc(var(--body-top) + var(--spacing-md));
	right: var(--spacing-md);
	left: var(--spacing-md);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.parvus__btn {
	position: relative;
	z-index: 7;
	display: flex;
	padding: 0.3125rem;
	color: var(--parvus-button-text);
	font: inherit;
	background-color: var(--parvus-button-color);
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	touch-action: manipulation;
	will-change: transform, opacity;
}

@media screen and (prefers-reduced-motion: no-preference) {

	.parvus__btn {
		transition: transform var(--parvus-transition-duration) var(--parvus-transition-timing-function), opacity var(--parvus-transition-duration) var(--parvus-transition-timing-function);
	}
}

.parvus__btn:focus,
.parvus__btn:hover {
	color: var(--parvus-button-hover-text);
	background-color: var(--parvus-button-hover-color);
	border: 1px solid var(--parvus-button-hover-text);
}

.parvus__btn:active {
	background: transparent;
	border-color: var(--parvus-button-hover-text);
}

.parvus__btn--previous {
	position: absolute;
	top: calc(50% + 1.375rem);
	left: 1rem;
	transform: translateY(-50%) !important;
}

.parvus__btn--next {
	position: absolute;
	top: calc(50% + 1.375rem);
	right: 1rem;
	transform: translateY(-50%) !important;
}

.parvus__btn svg {
	width: 2rem;
	height: 2rem;
	pointer-events: none;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1;
	stroke: currentColor;
}

.parvus__btn[disabled] {
	display: none;
}

.parvus__counter {
	position: relative;
	z-index: 7;
}

@media screen and (prefers-reduced-motion: no-preference) {

	.parvus__counter {
		transition: transform var(--parvus-transition-duration) var(--parvus-transition-timing-function), opacity var(--parvus-transition-duration) var(--parvus-transition-timing-function);
	}
}

.parvus__counter[aria-hidden="true"] {
	display: none;
}

@media screen and (prefers-reduced-motion: no-preference) {

	.parvus--is-opening .parvus__counter,
	.parvus--is-opening .parvus__btn--close,
	.parvus--is-opening .parvus__btn--previous,
	.parvus--is-opening .parvus__btn--next,
	.parvus--is-opening .parvus__caption,
	.parvus--is-closing .parvus__counter,
	.parvus--is-closing .parvus__btn--close,
	.parvus--is-closing .parvus__btn--previous,
	.parvus--is-closing .parvus__btn--next,
	.parvus--is-closing .parvus__caption {
		opacity: 0;
	}

	.parvus--is-vertical-closing .parvus__counter,
	.parvus--is-vertical-closing .parvus__btn--close {
		transform: translateY(-100%);
		opacity: 0;
	}

	.parvus--is-vertical-closing .parvus__btn--previous {
		transform: translate(-100%, -50%);
		opacity: 0;
	}

	.parvus--is-vertical-closing .parvus__btn--next {
		transform: translate(100%, -50%);
		opacity: 0;
	}

	.parvus--is-vertical-closing .parvus__caption {
		transform: translateY(100%);
		opacity: 0;
	}
}

@-webkit-keyframes spin {

	to {
		transform: rotate(360deg);
	}
}

@keyframes spin {

	to {
		transform: rotate(360deg);
	}
}
